<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powernode.mapper.SysRoleMenuMapper">
  <resultMap id="BaseResultMap" type="com.powernode.domain.SysRoleMenu">
    <!--@mbg.generated-->
    <!--@Table sys_role_menu-->
    <id column="role_id" jdbcType="BIGINT" property="roleId" />
    <id column="menu_id" jdbcType="BIGINT" property="menuId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    role_id, menu_id
  </sql>

  <!-- 根据roleId删除角色菜单联系 -->
  <delete id="deleteByPrimaryKey" parameterType="map">
    <!--@mbg.generated-->
    delete from sys_role_menu
    where role_id = #{roleId,jdbcType=BIGINT}
  </delete>

  <!-- 根据角色ID查询有多少条角色菜单关系 -->
  <select id="selectByRoleId" resultType="java.lang.Long">
    select count(1) from sys_role_menu where role_id=#{roleId}
  </select>

  <!-- 批量添加角色菜单关系 -->
  <insert id="insertRoleMenuConnectionBatch">
    insert into sys_role_menu(role_id,menu_id) values
    <foreach collection="sysRoleMenuList" item="item" separator=",">
      (#{item.roleId},#{item.menuId})
    </foreach>
  </insert>

  <insert id="insert" parameterType="com.powernode.domain.SysRoleMenu">
    <!--@mbg.generated-->
    insert into sys_role_menu (role_id, menu_id)
    values (#{roleId,jdbcType=BIGINT}, #{menuId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.powernode.domain.SysRoleMenu">
    <!--@mbg.generated-->
    insert into sys_role_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="menuId != null">
        menu_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="menuId != null">
        #{menuId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>


</mapper>