<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powernode.mapper.SysUserRoleMapper">
  <resultMap id="BaseResultMap" type="com.powernode.domain.SysUserRole">
    <!--@mbg.generated-->
    <!--@Table sys_user_role-->
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <id column="role_id" jdbcType="BIGINT" property="roleId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_id, role_id
  </sql>

  <!-- 通过 userId 查询其所拥有的所有 roleId -->
  <select id="selectAllRoleIdByUserId" resultType="java.lang.Long">
    select role_id
    from sys_user_role
    where user_id=#{userId}
  </select>

  <!-- 根据 userId，查询所有的用户角色 -->
  <select id="selectAllRoleByUserId" resultType="com.powernode.domain.SysRole">
    select r.*
    from sys_user_role ur
                 join sys_role r
            on ur.role_id=r.role_id
    where ur.user_id=#{userId}
  </select>

  <!-- 批量添加用户角色关系 -->
  <insert id="insertUserRoleConnectionBitch">
    insert into sys_user_role(user_id,role_id) values
    <foreach collection="sysUserRoleList" item="item" separator=",">
      (#{item.userId},#{item.roleId})
    </foreach>
  </insert>

  <!-- 查询所有角色 -->
  <select id="selectAllRoles" resultType="com.powernode.domain.SysRole">
    select *
    from sys_user_role
  </select>

  <delete id="deleteByPrimaryKey" parameterType="map">
    <!--@mbg.generated-->
    delete from sys_user_role
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.powernode.domain.SysUserRole">
    <!--@mbg.generated-->
    insert into sys_user_role (user_id, role_id)
    values (#{userId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.powernode.domain.SysUserRole">
    <!--@mbg.generated-->
    insert into sys_user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>


</mapper>